<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
 <link rel="stylesheet" href="/css/style.css" />
  <title>Employee Dashboard</title>
</head>
<body>

  <%- include('../partials/_navbar.ejs') %>

  <h1>Employee Dashboard</h1>


  <div>
    <button onclick="location.href='/appointments'" >
      View Appointments
    </button>
    <button onclick="location.href='/appointments/new'" >
      Create Appointment
    </button>
  </div>

  <div>
    <h3>Manage your tasks</h3>
    <p>Use the buttons above to manage appointments and your daily tasks.</p>
  </div>

</body>
</html>
